파이썬 데이터베이스 인터페이스<p>

1. mysql-connector 설치 <p>
pip install mysql-connector

문서 https://dev.mysql.com/doc/connector-python/en/

https://dev.mysql.com/doc/connector-python/en/connector-python-examples.html

2. MariaDB Server를 설치하고 관리자 계정 설정, 사용 가능한 데이터베이스 확인

3. MySql Client 또는 HeidiSQL을 이용하여 test 데이터베이스에 emp 테이블 생성

In [ ]:
create table emp (
emp_no int(11) not null auto_increment,
first_name varchar(14) not null,
last_name varchar(16) not null,
primary key(emp_no)
) ENGINE=InnoDB;

4. emp 테이블에 데이터 입력

In [ ]:
insert into emp (first_name, last_name)
values ('Sulhee', 'Baek');

5. mysql.connector 모듈을 임포트하고 파이썬에서 접속하여 질의

In [13]:
from __future__ import print_function

import mysql.connector
from mysql.connector import errorcode

cnx = mysql.connector.connect(user='root', password='python',
                              host='127.0.0.1',
                              database='test')
cursor = cnx.cursor()

query = ("SELECT first_name, last_name FROM emp ")

cursor.execute(query)

for (first_name, last_name) in cursor:
  print("{}, {} ".format(last_name, first_name))

cursor.close()
cnx.close()

Baek, Sulhee

In [5]:
import mysql.connector
import pandas.io.sql as sql
cnx = mysql.connector.connect(user='root', password='python',
                              host='127.0.0.1', database='test')
cursor = cnx.cursor()

sql.read_sql('select * from emp', cnx)

   emp_no first_name last_name
0       1     Sulhee      Baek